body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 1em;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo img {
  max-height: 230px;
  width: auto;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-right: 4rem;
}

.menu a {
  text-decoration: none;
  font-size: 22px;
  color: #333;
}

.menu a:hover {
  color: rgb(201, 108, 27);
}

.card {
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.card-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-content {
  padding: 16px;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-description {
  font-size: 1em;
  color: #666;
}

h1{
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blue-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.blue-button:hover {
  background-color: #0056b3;
}

/* Search box */
.search-container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
}

.search-container form {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
}

.search-container input[type=text] {
  flex-grow: 1;
  border: none;
  margin-left: 10px;
  padding: 10px;
  outline: none;
  font-size: 16px;
}

.search-container button {
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  opacity: 0.8;
}

.search-container img {
  width: 40px;
  height: 40px;
  background-color: rgb(214, 113, 18);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Small devices (phones) */
@media (max-width: 600px) {
  body {
      padding: 0.5em;
  }

  .logo img {
      max-height: 80px;
  }

  .menu li {
      margin-right: 0.5rem;
  }

  .card-title {
      font-size: 1.2em;
  }

  .card-description {
      font-size: 0.9em;
  }

  .blue-button {
      padding: 8px 16px;
      font-size: 14px;
  }

  .search-container img {
      width: 15px;
      height: 15px;
  }

  .search-container input[type=text] {
      font-size: 14px;
  }
}
/* footer */
.footer {
  width: 100%;
  color: rgb(4, 3, 3);
  padding: 1em;
}
.footer img{
  width: 200px;
}
.footer-content {
  width: 100%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.footer-section {
  flex: 1;
  margin: 1em;
}

.footer h1.logo-text,
.footer h2,
.footer p {
  color: rgb(8, 7, 7);
}

.footer ul {
  padding: 0;
}

.footer ul li {
  list-style: none;
  margin-bottom: 1em;
}

.footer ul li a {
  color: rgb(10, 8, 8);
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  padding: 1em;
}

@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-section {
    margin: 0.5em;
  }
}
/* carrsuell */
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}



* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  max-width: 55%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 45%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel img{
  width: 100%;
}
.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 80%;
  counter-increment: item;
}



.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  scroll-snap-align: center;
}
.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #FFA500;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
